(edif dlatch
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2022 3 19 19 46 27)
      (author "Synopsys, Inc.")
      (program "Synplify Pro" (version "L-2016.09M-SP1-5, mapper mapact, Build 2172R"))
     )
   )
  (library PA3
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell VCC (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "1"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell GND (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "0"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell DLN1 (cellType GENERIC)
      (property is_sequential (integer 1))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Q (direction OUTPUT)
           (property function (string "IQ"))
 )
           (port D (direction INPUT))
           (port G (direction INPUT)
           (property clock (integer 1))
 )
         )
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell dlatch (cellType GENERIC)
       (view behave (viewType NETLIST)
         (interface
           (port enable (direction INPUT))
           (port data (direction INPUT))
           (port y (direction OUTPUT))
         )
         (contents
          (instance (rename yZ0 "y") (viewRef prim (cellRef DLN1 (libraryRef PA3)))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef PA3)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef PA3)))          )
          (net enable (joined
           (portRef enable)
           (portRef G (instanceRef yZ0))
          ))
          (net data (joined
           (portRef data)
           (portRef D (instanceRef yZ0))
          ))
          (net y (joined
           (portRef Q (instanceRef yZ0))
           (portRef y)
          ))
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
         )
        (property orig_inst_of (string "dlatch"))
       )
    )
  )
  (design dlatch (cellRef dlatch (libraryRef work)))
)
