(edif dlatch_en
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2022 3 19 19 48 2)
      (author "Synopsys, Inc.")
      (program "Synplify Pro" (version "L-2016.09M-SP1-5, mapper mapact, Build 2172R"))
     )
   )
  (library PA3
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell VCC (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "1"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell NOR2B (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(!A + !B)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell GND (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "0"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell DLN1 (cellType GENERIC)
      (property is_sequential (integer 1))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Q (direction OUTPUT)
           (property function (string "IQ"))
 )
           (port D (direction INPUT))
           (port G (direction INPUT)
           (property clock (integer 1))
 )
         )
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell dlatch_en (cellType GENERIC)
       (view behave (viewType NETLIST)
         (interface
           (port enable (direction INPUT))
           (port gate (direction INPUT))
           (port data (direction INPUT))
           (port q (direction OUTPUT))
         )
         (contents
          (instance q_1 (viewRef prim (cellRef NOR2B (libraryRef PA3)))          )
          (instance (rename qZ0 "q") (viewRef prim (cellRef DLN1 (libraryRef PA3)))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef PA3)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef PA3)))          )
          (net enable (joined
           (portRef enable)
           (portRef G (instanceRef qZ0))
          ))
          (net gate (joined
           (portRef gate)
           (portRef A (instanceRef q_1))
          ))
          (net data (joined
           (portRef data)
           (portRef B (instanceRef q_1))
          ))
          (net q (joined
           (portRef Q (instanceRef qZ0))
           (portRef q)
          ))
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
          (net (rename qZ0Z_1 "q_1") (joined
           (portRef Y (instanceRef q_1))
           (portRef D (instanceRef qZ0))
          ))
         )
        (property orig_inst_of (string "dlatch_en"))
       )
    )
  )
  (design dlatch_en (cellRef dlatch_en (libraryRef work)))
)
