(edif dlatch_async
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2022 3 19 19 51 58)
      (author "Synopsys, Inc.")
      (program "Synplify Pro" (version "L-2016.09M-SP1-5, mapper mapact, Build 2172R"))
     )
   )
  (library PA3
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell VCC (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "1"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell GND (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "0"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell DLN1C0 (cellType GENERIC)
      (property is_sequential (integer 1))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Q (direction OUTPUT)
           (property function (string "IQ"))
 )
           (port CLR (direction INPUT)
           (property clear (integer 1))
 )
           (port D (direction INPUT))
           (port G (direction INPUT)
           (property clock (integer 1))
 )
         )
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell dlatch_async (cellType GENERIC)
       (view behav (viewType NETLIST)
         (interface
           (port enable (direction INPUT))
           (port data (direction INPUT))
           (port reset (direction INPUT))
           (port q (direction OUTPUT))
         )
         (contents
          (instance (rename qZ0 "q") (viewRef prim (cellRef DLN1C0 (libraryRef PA3)))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef PA3)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef PA3)))          )
          (net enable (joined
           (portRef enable)
           (portRef G (instanceRef qZ0))
          ))
          (net data (joined
           (portRef data)
           (portRef D (instanceRef qZ0))
          ))
          (net reset (joined
           (portRef reset)
           (portRef CLR (instanceRef qZ0))
          ))
          (net q (joined
           (portRef Q (instanceRef qZ0))
           (portRef q)
          ))
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
         )
        (property orig_inst_of (string "dlatch_async"))
       )
    )
  )
  (design dlatch_async (cellRef dlatch_async (libraryRef work)))
)
